/*CSS Styles*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: sans-serif;
    min-width: 750px;
    background-color: #ccc;
    margin: 0 0 40em;
}

.container {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem 1rem 0;
}

header {
    background-color: darkslategray;
    position: relative;
    box-shadow: 0 2px 3px #999;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.gradient {
    background: -webkit-linear-gradient(darkslategray, #242020);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(darkslategray, #242020);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(darkslategray, #242020);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(darkslategray, #242020);
    /* Standard syntax */
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 1rem;
}

.main-title {
    position: relative;
    width: 80&;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-size: 4rem;
    font-weight: 500;
    color: whitesmoke;
}

.main-title a {
    color: #eee;
    text-decoration: none;
}

.content {
    position: relative;
    max-height: 40rem;
    overflow: auto;
    font-size: 1.5rem;
    border: 1px solid gray;
}

.home {
    margin-top: 2rem;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 3px #999;
    padding-bottom: 1.5rem;
}

.paragraph {
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: black;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.button {
    border-radius: 5px;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: darkslategray;
    color: white;
    padding-top: 0.4;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
}

.button:hover {
    background-color: dimgray;
}

.details-buttons {
    position: relative;
    clear: both;
    margin-left: 2em;
}

a.white {
    color: white;
}

#details-wrapper {
    position: relative;
    width: 40em;
    height: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

.details-content {
    position: relative;
    width: auto;
    min-height: 400px;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2.5em;
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 3px #999;
}

#country-box {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.details-box {
    position: relative;
    width: 100%;
    margin-left: 2em;
    margin-top: 1em;
}

#neighbors-list-dd {
    margin-left: 0;
    text-indent: 0;
}

#neighbors-list {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    padding-right: .8em;
    padding-top: 0.5rem;
}

#image-box {
    display: inline-block;
    margin-top: 1em;
    width: 40%;
    height: 100%;
}

#flag-box,
#map-box {
    padding-top: 2em;
    padding-bottom: 1rem;
    display: inline-block;
    float: right;
    padding-left: 1rem;
}

#flag-img {
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

#map-img {
    width: 150px;
    height: auto;
}

.country-title {
    margin-left: .8em;
    font-size: 2.5em;
}

.table {
    position: relative;
    width: 100%;
    max-height: 450px;
    overflow: scroll;
    table-layout: fixed;
    margin-bottom: -.5em;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F2F2F2 !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9 !important;
}

.table-hover > tbody > tr:hover {
    background-color: #eee !important;
}

#table-header {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: white;
    height: 6rem;
    line-height: 3rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#table-header li {
    display: inline-block;
    width: auto;
    padding-right: 10%;
}

#table-search {
    margin-top: .2rem;
    margin-left: .5rem;
    font-weight: 400;
}

#table-search input {
    color: black;
    margin-left: 1rem;
}

tbody {
    box-shadow: 0 2px 3px #999;
}

th:first-child {
    padding-left: 2em;
    border-top-left-radius: 10px;
}

th:last-child {
    padding-left: 2em;
    border-top-right-radius: 10px;
}

th {
    padding-left: 2em;
    background-color: darkslategray;
    color: #eee;
}

tr {
    cursor: pointer;
    height: 3em;
}

td {
    position: relative;
    width: 17.82% !important;
    overflow: auto;
    padding-left: 1em;
    color: black;
}

td:nth-child(2) {
    width: 10.5% !important;
}

.country-name {
    color: black;
    font-weight: 600;
}

dl {
    margin-top: 2em;
}

dt {
    float: left;
    text-align: center;
    font-weight: bold;
}

dd {
    padding: 0 0 1em 0;
    text-indent: .5em;
    margin-left: 2em;
}

ul {
    list-style: none;
    margin-left: 1em;
}

.loading {
    height: 100%;
    position: relative;
}

.loading:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9)no-repeat center center;
    background-image: url('img/loading-animation.gif');
}

.animate-view {
    position: relative;
    min-height: 100%;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition: 1s linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eee;
}

.animate-view.ng-enter {
    opacity: 0;
    z-index: 100;
}

.animate-view.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate-view.ng-leave {
    opacity: 1;
    z-index: 99;
}

.animate-view.ng-leave.ng-leave-active {
    opacity: 0;
}
